<body>
<div class="container">
  <div class="card">
    <h1 style="margin-top: 5%;">User Registration</h1>
    <form>
      <div class="register-form">
        <label>Username</label>
        <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" id="username"
               class="form-control" placeholder="Enter Username">
        <small class="text-muted">Must contain least 3 characters long.</small>

      </div>


      <div class="register-form">
        <label>Password</label>
        <div class="password-wrapper">
          <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" id="password"
                 class="form-control" placeholder="Enter Password">
          <small class="text-muted" [class.visible]="showPasswordRequirements" (click)="showPasswordRequirements = true">
            Must contain at least one number and lowercase letter, and be at least 6 characters long.
          </small>
        </div>
      </div>


      <div class="register-form">
        <label>first_name</label>
        <input type="first_name" [(ngModel)]="first_name" [ngModelOptions]="{standalone: true}" id="first_name"
               class="form-control" placeholder="Enter first_name">
      </div>

      <div class="register-form">
        <label>last_name</label>
        <input type="last_name" [(ngModel)]="last_name" [ngModelOptions]="{standalone: true}" id="last_name"
               class="form-control" placeholder="Enter last_name">
      </div>

      <div class="register-form">
        <label>telephone</label>
        <input type="telephone" [(ngModel)]="telephone" [ngModelOptions]="{standalone: true}" id="telephone"
               class="form-control" placeholder="Enter telephone">
      </div>
      <br>
      <div style="
       text-align: end;
       margin-right: 11%;
       margin-top: -6%;">

        <p><a href="/">signin</a></p>
      </div>
      <div>
        <button type="submit" class="button" (click)="save()">Register</button>

      </div>
      <br>

    </form>
  </div>

</div>
</body>
